@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@300;600&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
}

body {
  background-color: #141414;
  color: rgb(224, 224, 224);
  height: 100vh;
}
section {
  max-width: 65%;
  margin: 10vh auto 0;
}
.topic {
  display: flex;
  flex-direction: row;
}
span {
  width: auto;
  flex-direction: row;
  position: relative;
}
span::after {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  content: " ";
  position: absolute;
  top: 20px;
  left: 59px;
  width: 334px;
  height: 202px;
}
h1 {
  font-size: 100px;
  flex-direction: row;
  text-transform: uppercase;
  line-height: 100px;
  margin: 12px 0 0 0;
}

.projects {
  margin: 0 0 0 15vw;
}
.projects ul {
  border-left: 5px solid white;
  list-style: disc;
  padding-top: 30px;
  padding-bottom: 46px;
}
.projects ul li {
  margin: 0 0 0 4vw;
  line-height: 11vh;
  font-size: 30px;
  position: relative;
}
.projects ul li::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: -62px;
  width: 40px;
  height: 42px;
  border-bottom: 4px solid #ffffff;
}
.projects ul li a,
.projects ul li a:visited {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}
.projects ul li a:active,
.projects ul li a:hover {
  color: #e73c7e;
}
.projects ul li:last-child {
  position: absolute;
}

/* css background animation */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
